# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

# Source USB sample options for the new USB device stack (USBD)
source "samples/subsys/usb/common/Kconfig.sample_usbd"

source "Kconfig.zephyr"
